@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-inter);
}


@font-face {
  font-family: 'CampusConnect';
  src: url('/src/app/assets/fonts/Inter-Bold.ttf') format('woff2'),
    url('/src/app/assets/fonts/Inter-Regular.ttf') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

.text-xxs {
  font-size: 0.6rem;
  line-height: 0.8rem;
}

/* Overall Toast Container */
.custom-toast {
  background: linear-gradient(to right, #ff6f61, #ff3c1a);
  border-radius: 8px;
  color: white;
  font-family: 'Arial', sans-serif;
  font-size: 16px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  padding: 16px;
}

/* Toast Body */
.custom-toast-body {
  text-align: center;
}

/* Progress Bar */
.custom-toast-progress {
  background: #f6d743; /* Customize progress bar color */
  height: 5px;
  border-radius: 4px;
}


/* Loading dots animation */
.loading-dots span {
  opacity: 0;
  animation: blink 1.4s infinite;
}

.loading-dots span:nth-child(2) {
  animation-delay: 0.2s;
}

.loading-dots span:nth-child(3) {
  animation-delay: 0.4s;
}

@keyframes blink {
  0%, 100% {
      opacity: 0;
  }
  50% {
      opacity: 1;
  }
}

/* .MuiDataGrid-scrollbar {
  pointer-events: none;
} */